<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmUMZLNZWqssvNc9QXvEaaNvUcUGQSyC8</string>
	<key>GCM_SENDER_ID</key>
	<string>235006107608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nobelProject</string>
	<key>PROJECT_ID</key>
	<string>nobelproject-c9cc5</string>
	<key>STORAGE_BUCKET</key>
	<string>nobelproject-c9cc5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235006107608:ios:ab59f1f02959b1dbd61cad</string>
</dict>
</plist>